<!DOCTYPE html>
<html>
  <head>
    <title>Magic 8-ball!</title>
  </head>

  <body>
    <h1>Magic 8-ball!</h1>
    <p>Think of a question and then click the link below to get an answer from the Magic 8-ball:</p>

    <a href="/show">Click Here!</a>
  </body>
</html>
