<!DOCTYPE html>
<html>
  <head>
    <title>Magic 8-ball!</title>
  </head>

  <body>
    <h1>Magic 8-ball!</h1>
    <h4>Your answer:</h4>
    <p>It is certain</p>

    <a href="/">Go Back</a>
  </body>
</html>
